* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}


article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100em;
  max-width: 25em;
  min-width: 35em;
  border-radius: 1rem;
  background: #40d0ea ;
  background: linear-gradient(0deg,#35cee9);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.3);


}



section img{
  width: 150px;  
  height: 100px;  
  border: 3px solid grey;  
  background-color: grey;    
  border-radius: 4em;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
  object-fit: cover;
  

}

h1{
  font-size: 2em;
  font-style: italic;
  font-weight: bold;

}

h2{
  font-size: 2em;
  font-style: normal;
  font-weight: normal;

}

h3{
  font-size: 2em;
  font-style: bold;
  font-weight: normal;
  
}

h4{
  font-size: 2em;
  font-style: normal;
  font-weight: normal;

}
