* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  color: black;
  border-radius: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}


article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100em;
  max-width: 25em;
  min-width: 35em;
  border-radius: 1rem;
  background:  #6B8DFA   ;
  background: linear-gradient(0deg,#35cee9);
  box-shadow: 0 0 10px 10px rgba(0,0,0,.3);


}



section img{
  width: 175px;  
  height: 175px;  
  border: 2px solid black;  
  background-color: grey;    
  border-radius: 1em;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
  object-fit: fill;
  margin-top: 1em;
  
}

h1{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  

}

p{
  font-size: 15px;
  font-style: oblique;
  font-weight: lighter;
  text-align: justify;
  word-spacing: 1px;
  line-height: 1px;
 

}